
html{
    background: #11e8bb; /* Old browsers */
    background: -moz-linear-gradient(top,  #91ecf8 0%, #2eb8ee 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #91ecf8 0%, #2eb8ee  100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #91ecf8 0%, #2eb8ee  100%); 
}

body{
    margin: 0;
    overflow: hidden;
    font-family: "Sharp Sans", sans-serif;
}

#controlsDiv{
    margin: auto 0px ;
}

.hidden{
    display: none !important;
}

#projectDescriptionContainer{
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    border-radius: 10px;
    /*background: #dac7c780;*/
    padding: 20px;
    display: flex;
}

#projectNameTitle{
    font-size: 3rem;
    margin: 0px 0px 20px 0px;
}

#projectDescription{
    margin-left: 20px;
    font-size: 1.5rem;
}

#detailsContainer{
    max-width: 450px;
    margin: auto 20px;
}

.btn{
    background-color: rgba(255,255,255,0.4);
    border: none;
}

.btn:hover{
    background-color: lightgray;
}

.btn-control{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

#viewProjectButton{
    width: 200px;
    height: 50px;
    margin: 20px auto;
    display: block;
    border-radius: 10px;
}