/*********** Variables ************/

:root{
    --plot-selector-margin: 10px;
    --popup-colour-standard: rgba(161, 161, 141, 0.918);
    --popup-colour-hover: rgba(136, 136, 87, 0.918);
}

/*********** Type selectors ************/

header{
    padding: 10px;
}

/*********** Class selectors ************/

.even-spacing{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.hidden{
    display: none;
}

.tribe-popup:hover{
    background-color: var(--popup-colour-hover);
}

.dropdown{
    margin: 10px 00px;
}

/*********** ID selectors ************/

#serverContainer > button{  
    width: 200px;
}

#worldContainer{
    margin-top: 10px;
}

#mainContainer{
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@media (max-width: 850px) { 
    #mainContainer {
            flex-direction: column
    }
}

#plotSelector{
    max-width: 400px;
    flex-grow: 0.5;
    text-align:center
}

#plotContainer{
    min-width: 300px;
    flex-grow: 1;
}

#graphAdder{
    margin-top: var(--plot-selector-margin);
}

#graphAdder, #tribePopupContainer{
    width: calc(100% - 2*var(--plot-selector-margin));
    margin-left: var(--plot-selector-margin);
    margin-right: var(--plot-selector-margin);
}

#tribePopupContainer, .tribe-popup:last-child{
    border-radius: 0px 0px 10px 10px;
}

#tribePopupContainer{
    background-color: var(--popup-colour-standard);
}